<%- include('./partials/header') %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->

<div class="container main-app shadow-lg p-3 mb-5 bg-white">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="container-fluid frame">
        <div class="row justify-content-center">
          <div class="col-4 img-col">
            <img src="<%= device.picture %>" class="device-img" />
          </div>
          <div class="col-8 details-col">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <h1 class="appTitle" id="deviceName"><%= device.name %></h1>
                </div>
                <div class="col-2">
                  <small class="" id="isRecommended"></small>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>Lanzamiento: <%= release %></p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-12">
                  <h3 class="appSubtitle">Almacenamiento</h3>
                  <p><%= device.almacenamiento %></p>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-12">
                  <h3 class="appSubtitle">Memoria RAM</h3>
                  <p><%= device.ram %></p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: <%= ram %>%"
                    ></div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-12">
                  <h3 class="appSubtitle">Batería</h3>
                  <p><%= device.battery_size + ' mAh' %></p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: <%= battery %>%"
                    ></div>
                  </div>
                </div>
              </div>
              <br />
              <form action="/fav" method="post">
                <input
                  type="text"
                  name="deviceId"
                  value="<%= device.id %>"
                  hidden
                />
                <button
                  type="submit"
                  class="btn likeBtn"
                  style="float: left"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Agregar a favoritos"
                >
                  <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                </button>
              </form>
              <form action="/next" method="post">
                <input
                  type="text"
                  name="deviceId"
                  value="<%= device.id %>"
                  hidden
                />
                <button
                  type="submit"
                  class="btn skipBtn"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Siguiente"
                >
                  <i class="fa fa-step-forward fa-3x" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var isRecommended = document.getElementById("isRecommended");
  console.log(isRecommended);
  var deviceName = document.getElementById("deviceName").innerHTML;
  console.log(deviceName);

  if (deviceName.includes("Samsung")) {
    isRecommended.innerHTML = "Recomendado";
    isRecommended.classList.add("isRecommended");
  } else {
    isRecommended.classList.remove("isRecommended");
  }
</script>

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>

<!-- -->
<%- include('./partials/footer') %>
