<%- include('./partials/header') %>
<!-- -->
<% if(typeof user != 'undefined') { %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->
<% } else { %>
<!-- -->
<%- include('./partials/login-nav') %>
<!-- -->
<% } %>

<h1>Favoritos</h1>

<div class="container favContainer">
  <div class="row justify-content-center">
    <% for(var i = 0; i < item.length; i++){ %>

    <div
      class="card shadow-sm mb-4"
      style="width: 20rem; padding: 1%; margin: 3%"
    >
      <img
        src="<%= device[item[i].id].picture %>"
        class="card-img-top"
        alt="<%= device[item[i].id].name %>"
        id="deviceImg"
      />
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= device[item[i].id].name %></h5>
        <div class="mt-auto">
          <p class="card-text">Stats</p>
          <p class="card-text">Stats</p>
          <p class="card-text"><%= item[i].id %></p>
          <div class="row">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#modal<%= item[i].id %>"
              style="width: 15%"
            >
              X
            </button>
            <button type="button" class="btn btn-primary" style="width: 85%">
              Info
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal START -->
    <div
      class="modal"
      id="modal<%= item[i].id %>"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <%= device[item[i].id].name %>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro que querés eliminar este dispositivo de tus favoritos?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <form action="/removeItem" method="post">
              <input
                type="text"
                name="deviceId"
                value="<%= item[i].id %>"
                hidden
              />
              <button type="submit" class="btn btn-danger">Remover</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal END -->

    <% } %>
  </div>
</div>

<br />
<br />
<br />
<br />
<!-- -->
<%- include('./partials/footer') %>

<!-- 
  <= device[item[i].id].picture %>
  <= device[item[i].id].name %>
  <= item[i].id %>
  PONER % = al principio para que vuelva a funcionar
-->
