<section class="indexSection">
  <%- include('./partials/header') %>
  <!-- style="background-image: url(<%= background %>) -->
  <% if(typeof user != 'undefined') { %>
  <!-- -->
  <%- include('./partials/logout-nav') %>
  <!-- -->
  <% } else { %>
  <!-- -->
  <%- include('./partials/login-nav') %>
  <!-- -->
  <% } %>

  <!-- -->

  <br />
  <br />
  <br />
  <br />

  <div class="container mainContainerIndex">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6 col-sm-4 mainIndexText">
        <h1 class="indexText">Te ayudamos a decidir qué celu elegir.</h1>
        <br />
        <a href="app" class="btn btn-dark">¡Explorar ahora!</a>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-8 mainIndexAppDownload">
        <img src="<%= image %>" alt="" class="indexImg" />
      </div>
    </div>
  </div>
  <section class="info-section">
    <div class="container-fluid">
      <div class="container indexInfo">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12">
            <div class="card mb-3 shadow p-3 bg-body indexCard">
              <div class="card-body">
                <h1 class="card-title">+10K</h1>
              </div>
              <div class="card-footer bg-transparent">Dispositivos</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card mb-3 shadow p-3 bg-body indexCard">
              <div class="card-body">
                <h1 class="card-title">+100</h1>
              </div>
              <div class="card-footer bg-transparent">Marcas</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card mb-3 shadow p-3 bg-body indexCard">
              <div class="card-body">
                <h1 class="card-title">100%</h1>
              </div>
              <div class="card-footer bg-transparent">Gratis</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="comparator-section">
    <div class="container">
      <div class="row justify-content-center align-center">
        <div class="col-lg-1 col-sm-12">
          <img src="<%= n1 %>" alt="" width="64px" />
        </div>
        <div class="col-lg-5 col-sm-12">
          <span class="bolder-text"
            >Buscá el celular, tablet o smartwatch que quieras.</span
          >
        </div>
      </div>
      <br />
      <br />
      <div class="row justify-content-center align-center">
        <div class="col-lg-1 col-sm-12">
          <img src="<%= n2 %>" alt="" width="64px" />
        </div>
        <div class="col-lg-5 col-sm-12">
          <span class="bolder-text"
            >Comparalo entre miles de otras opciones que te ofrece VITRA y elegí
            lo que más se adapte a vos.</span
          >
        </div>
      </div>
      <br /><br /><br /><br />
      <div class="row justify-content-center align-center">
        <div class="col-lg-5 col-md-12">
          <img src="<%= compare %>" alt="" width="50%" />
        </div>
        <div class="col-lg-5 col-md-12">
          <h2 class="big-bold-text">
            Compará entre más de
            <span class="vitra-orange">10 mil</span> dispositivos.
          </h2>
          <br />
          <a class="blue-button" href="comparator">Ir al comparador</a>
        </div>
      </div>
    </div>
  </section>
  <section class="preferences-section">
    <div class="container-fluid">
      <div class="row justify-content-center align-center">
        <div class="col-lg-4 col-md-12">
          <h2 class="big-bold-text indexTextPref">
            ¿No sabés que opciones hay? Descubrí en base a tus
            <span class="like-red">preferencias</span>.
          </h2>
          <br />
          <a href="preferences" class="like-red-button">¡A ver!</a>
        </div>
        <div class="col-lg-4 col-md-12 isophoneImg">
          <img src="<%= isophone %>" alt="" width="50%"/>
        </div>
      </div>
    </div>
  </section>
  <section class="partners-section">
    <div class="container">
      <div class="row justify-content-center align-center">
        <div class="col-lg-4 col-sm-12">
          <img src="<%= laptop %>" alt="" width="60%" class="laptop-img"/>
        </div>
        <div class="col-lg-8">
          <h2 class="big-bold-text text-right center-small">
            ¿Con quiénes trabajamos? </h2>
            <h2 class="big-bold-text text-right center-small">Conocé algunas de las <span class="vitra-blue">marcas que confían</span> en nosotros.</h2>
          </h2>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="container">
        <div class="row justify-content-center align-center">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo1 %>" alt="" width="200px">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo2 %>" alt="" width="200px">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo3 %>" alt="" width="200px">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo4 %>" alt="" width="200px">
          </div>
        </div>
        <br>
        <div class="row justify-content-around align-center">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo5 %>" alt="" width="200px">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo6 %>" alt="" width="200px">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="<%= logo7 %>" alt="" width="200px">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mobile-section">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Disfrutá de VITRA también en tu celular.</h2>
        </div>
      </div>
      <div class="row justify-content-center stores">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img src="<%= googlePlay %>" alt="" class="mobileBanner1"/>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <img src="<%= appstore %>" alt="" class="mobileBanner2"/>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <!-- -->

  <%- include('./partials/footer') %>
</section>

646x250
