<section class="indexSection">
  <%- include('./partials/header') %>
  <!-- style="background-image: url(<%= background %>) -->
  <% if(typeof user != 'undefined') { %>
  <!-- -->
  <%- include('./partials/logout-nav') %>
  <!-- -->
  <% } else { %>
  <!-- -->
  <%- include('./partials/login-nav') %>
  <!-- -->
  <% } %>

  <!-- -->

  <br />
  <br />
  <br />
  <br />

  <div class="container mainContainerIndex">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6 col-sm-4 mainIndexText">
        <h1 class="indexText">
          Encontrá el dispositivo que más se adapta a vos.
        </h1>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-8 mainIndexAppDownload">
        <img src="<%= image %>" alt="" class="indexImg" />
      </div>
    </div>
  </div>
  <div class="container-fluid backgroundIndexInfo">
    <div class="container indexInfo">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <div
            class="card mb-3 shadow p-3 mb-5 bg-body indexCard"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h1 class="card-title">+10K</h1>
            </div>
            <div class="card-footer bg-transparent">Dispositivos</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div
            class="card mb-3 shadow p-3 mb-5 bg-body indexCard"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h1 class="card-title">+100</h1>
            </div>
            <div class="card-footer bg-transparent">Marcas</div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div
            class="card mb-3 shadow p-3 mb-5 bg-body indexCard"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h1 class="card-title">100%</h1>
            </div>
            <div class="card-footer bg-transparent">Gratis</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container exploreNow">
    <div class="row justify-content-center">
      <div class="col-6">
        <img src="<%= iphonesImg %>" alt="" width="500px" />
      </div>
      <div class="col-6">
        <h1 class="indexText2">
          Descubrí la variedad de opciones que tenemos para mostrarte.
        </h1>
        <br />
        <a href="/app" class="btn btn-dark">¡Explorar ahora!</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col" style="text-align: center">
        <a href="#" class="googlePlay">
          <img src="<%= googlePlay %>" alt="Google Play" />
        </a>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <!-- -->

  <%- include('./partials/footer') %>
</section>
