<%- include('./partials/header') %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->

<h1>Preferencias</h1>

<p>Brand:</p>
<form action="/savePref" method="post">
  <select name="brand" id="brand">
    <% for(var i = 0; i < brand.length; i++){ %>
    <option value="<%= brand[i].id %>"><%= brand[i].name %></option>
    <% } %>
  </select>

  <p>Release:</p>
  <input
    name="release"
    id="release"
    type="number"
    placeholder="2020"
    min="1990"
    max="2023"
  />
  <input type="submit" />
</form>

<!-- -->
<%- include('./partials/footer') %>
