<%- include('./partials/header') %>
<!-- -->
<%- include('./partials/logout-nav') %>
<!-- -->
<br /><br />
<div class="container">
  <h1 class="sectionTitle">Preferencias</h1>
  <hr>

  
  <form action="/savePref" method="post">
    <label for="brand">Marca:</label>
    <br>
    <select name="brand" id="brand">
      <option value="" disabled selected hidden>Seleccionar</option>
      <% for(var i = 0; i < brand.length; i++){ %>
      <option value="<%= brand[i].id %>"><%= brand[i].name %></option>
      <% } %>
    </select>
    <br /><br />
    <label for="release">Lanzamiento:</label>
    <br>
    <input
      name="releaseFrom"
      id="release"
      type="number"
      placeholder="2016"
      min="1990"
      max="2023"
    />
    <input
      name="releaseTo"
      id="release"
      type="number"
      placeholder="2020"
      min="1990"
      max="2023"
    />
    <br>
    <br>
    <label for="ram">RAM:</label>
    <br>
    <input type="number">
    <br><br>
    <button class="btn btn-success" type="submit" />Guardar</button><br>
    <i style="font-size: 12px;">Guardá sin seleccionar nada para quitar los filtros.</i>
  </form>
</div>
<!-- -->
<%- include('./partials/footer') %>
